# Object files
*.o
*.ko
# *.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
# *.lib
# *.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
# *.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su

!01_challenge_blocks/release/win32/*.exe
!02_challenge_dungeon2d/release/win32/*.exe
!03_challenge_maze3d/release/win32/*.exe
